body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.navbar {
  padding: 20px 20px;
  margin: 45px 1px 40px;
  text-align: right;
}

.link-btn {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  padding: 0px 20px;
}

.top-banner {
  background-color: white;
}

.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

.half-width img{
  width: 100%;
}

.title-color {
  color: #f76760;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  font-weight: 500;
}

.btn {
  text-decoration: none;
  background-color: #ff8367;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
}

p {
  font-size: 16;
}

section {
  height: 500px;
  padding-bottom: 150px;
}

