body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.navbar {
  padding: 20px 10px;
  margin: 45px 1px 40px;
  text-align: right;
}

.link-btn {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  padding: 0px 20px;
}

.top-banner {
  background-color: white;
}

.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

.half-width img {
  width: 100%;
}

.title-color {
  color: #f76760;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  font-weight: 500;
}

.btn {
  text-decoration: none;
  background-color: #ff8367;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
}

p {
  font-size: 16;
}

section {
  height: 500px;
  padding-bottom: 150px;
}

h2 {
  font-family: "Bebas Neue", cursive;
}

.mid-banner {
  justify-content: center;
}

.text {
  padding-bottom: 20px;
}

.third-banner {
  background-color: #e5e5e5;
}

.third-banner h2 {
  text-align: center;
}

.box {
  width: 20%;
  margin: 5%;
  float: left;
}

.box img {
  width: 100%;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

#text {
  padding: 5%;
  margin: 2%;
}

.last-banner {
  background-color: white;
  background-repeat: no-repeat;
}

.work-box {
  background-image: url(images/bg.png);
  width: 906px;
  height: 225px;
  border-radius: 7px;
  background-size: cover;
  background-repeat: no-repeat;

  margin: auto;
}

#bg-text {
  color: white;
  font-size: 64;
  font-weight: 700;
  text-align: left;
}

#bg-link {
  align-items: right;
}

#footertext {
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  color: dimgray;
  text-align: center;
}

#footerstyle {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
}
.icon {
  padding-left: 600px;
  padding-top: 200 px;
  padding-bottom: 100px;
}

.topbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
  padding: 50px;
}

.icons {
  width: 40px;
  height: 40px;
}
